.game-container {
    display: flex;
    justify-content: space-around;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    width: 400px;
    height: 400px;
}
.board-cell {
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.board-cell.empty { background-color: lightblue; }
.board-cell.ship { background-color: gray; }
.board-cell.hit { 
    background-color: yellow;
    animation: pulse 1s infinite alternate;
}

.board-cell.disabled {
    /* pointer-events: none; */
    opacity: 0.5;
}

.board-cell.sunk { 
    background-color: red; 
    color: white;
    position: relative;
}

.board-cell.sunk::after {
    content: '✖';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}